<h1>Angular 17 Drivers Trips Example </h1>

<!--<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search Text</label>
      <input type="search" class="form-control" id="search-text" aria-describedby="search-text" 
        [(ngModel)]="searchText" placeholder="Enter text to search" 
        autofocus>
    </div>
    <ul class="list-group list-group-flush">
   
      <li class="list-group-item" *ngFor="let c of characters | appFilter: searchText">
        {{c}}
      </li>
    </ul>
  </div>
</div>-->




<table cellspacing="0" cellpadding="0" border="1" width="50%">
  <tr>
    <th><a (click)="getSort()">driver_id</a></th>
    <th><a class='link' (click)="getSort()">total</a></th>
  </tr> 
 
  <tr 
      *ngFor="let post of posts"

      class="list-group-item">

     <td> {{ post.driver_id }} </td> 
      <td> {{ post.total }} </td> 
  </tr>
</table> 